extends layout

block content
  h1= title

  ul(class='list-group fs-6')
    each book in book_list
        a(class='list-group-item-action list-group-item list-group-item-primary' href=book.url) #{book.title}
          p (#{book.author.name})

    else
      li There are no books.
