extends layout

block content
  h1= title 
  ul(class='list-group')
    each genre in genre_list
        a(class='list-group-item-action list-group-item list-group-item-primary fs-5' href=genre.url) #{genre.name}
    else 
      li There is not genre